<div class="modal-header"> 	
	<%= link_to '×', '#', :class => 'close' %>
	<h3 id="myModalLabel">Relatórios de Pesquisas</h3>
</div>

<div class="modal-body">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Nome</th>
	      <th>Arquivo</th>
	    </tr>
	  </thead>
	  <tbody>
	      <tr>
	        <td class="report_title_td"></td>
	        <td></td>
	      </tr>
	  </tbody>
	</table>
</div>