<% content_for :dependecies_sidebar do %>	
	<ul class="nav nav-list">
	  <li class="nav-header">Dependencias</li>
	  <li class="divider"></li>		
		<% get_model_belongs_to(dependecies_model).each do |bt| %>		
			<li>
				<a class="thumbnail" href="<%=send(bt.to_s.pluralize.concat('_path'))%>" target="_new"> 
					<h3><i class="<%=classify_relation_name(bt).icon%>"></i><%=translate_relation_name(bt.to_s)%></h3>				
				</a>
			</li><br/>
		<% end %>
	</ul>    
<% end %>