/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.leftVacancies {
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 30px;
	background-color: #FCF8E3;
}

.transferButton {
	margin-top: -10px;
}

#embaralhar_inscritos {
	background-color: #F3EFE0;
} 

#shuffle_button {
	border: 1px solid #e4e1d3;
	padding: 35px 38px 25px;
	background-color: #fffbeb;
	
}

#seed_input {
	border: 1px solid #e4e1d3;
	background-color: #fffbeb;
	
  margin-bottom: 20px;
  margin-left: 4px;
  padding-bottom: 16px;
  padding-left: 23px;
  padding-top: 7px;
}

#shuffle_control {
	width: 800px;
	margin-left: auto ;
  margin-right: auto ;
	
}

#shuffle_fields {
	display: none;
}

#shuffle_fields_processing {
	
}