/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#score_evaluations fieldset {
	background-color: #dddddd;
	margin-bottom: 15px;
}

#student_quotas fieldset {
	background-color: #dddddd;
}

.enrollment_reports_button {
	height: 48px;
	width: 48px;
}
